$navy: #27506e;


* {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h2, h3, h4 {
	font-style: italic;
	padding-top: 5%;
}
 
p, address, .hours-events-button {
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: inherit;
}

header{
	color: $navy; 

	.smithsonian-logo__container{
		padding: 5%;
		padding-top: 6%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img{
			height: 50px;
		}

		.hamburger{
			width: 16%;
			background-size: contain;

			.hamburger-image {
				width: 86%;
				padding-top: 10px;
    			margin-left: 5px;

    			h5{
    				font-size: 1rem;
    			}
			}

			.hamburger-bars {
				height: 3px;
				margin-bottom: 7px;
				width: 100%;
				background-color: $navy; 
			}

			h5{
				margin-left: 5px;
			}
		}

		.smithsonian-logo__copy{
			display: flex;
			flex-direction: column;
		    font-size: 1.48rem;

		    sup{
			    font-size: 0.7rem;
				font-family: "Merriweather";
				color: rgb(39, 80, 110);
				font-weight: bold;
	    	}

	    	img{
	    		width: 20%;
	    		height: 8%;
	    	}
		}
	}

	.desktop-nav{
		display: none;
	}

	nav{
		ul{
			width: 80%;
			margin: 0 auto;
			padding-bottom: 3%;
			li{
				font-size: 1.4rem;
				padding-bottom: 3%;
				padding-top: 5%;
				text-transform: uppercase;
				border-bottom: 1px solid;
				font-family: verdana, serif;
			}

			.language{
				display: none;
			}
		}
	}
}



.hero-cta{
	width: 100%;
	background-image: url(../../assets/img/mobile-hero-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50%;
	color: white;

	.donation-button{
		position: relative;
		left: 5%;
		top: 11px;
		color: white;
		text-decoration: none;
		background-color: RGBA(243, 183, 68, 1.00);
		width: 20%;
		padding: 4% 6% 4% 6%;
	}
	
	.hero-cta-content-wrap{
		position: relative;
		top: 60px;
		margin-bottom: 17px;

		h2, p, a {
			padding-left: 5%;
		}

		h2{
			width: 87%;
			padding-bottom: 5%;
			position: relative;
			left: 5%;
			background-color: RGBA(47, 73, 95, .8);
			font-size: 2.2rem;
			padding-left: 5%;
    		padding-top: 5%
		}

		p, a {
			width: 80%;
			font-size: 1.5rem;
			background-color: RGBA(47, 73, 95, .8);
			position: relative;
			left: 5%;
			text-decoration: none;
			padding-left: 5%;

		}

		p{
			padding-bottom: 4%;
			font-family: Verdana, sans-serif;
			text-transform: uppercase;
			font-weight: 200;
			font-size: 1.5rem;
		}
		
		a{
			color: RGBA(48, 80, 107, 1.00);
			background-color: white;
			padding: 1%;
			padding-left: 5%;
		}
	}
}

.promos-wrap{
	display: block;
	position: relative;
	padding-bottom: 10%;

	.five-of-12-columns{
		background-image: url(../../assets/img/astronauts.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 82%;

			.promo__item{
			width: 100%;
			background-color: RGBA(43, 53, 68, .8);
			position: relative;
			bottom: 0;
			color: white;
			font-size: 1.3rem;
			text-decoration: none;
			// padding: 0% 0 5% 5%;

			h4{
				font-size: 1.5rem;
				padding-bottom: 2%;
			}

			p{
				font-size: .9rem;
			}

		}
	}

	.seven-of-12-columns{
		display: flex;
		flex-direction: column;

		.fossil{
			background-image: url(../../assets/img/fossil.png);
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
    		padding-bottom: 50%;

			// padding-bottom: 52%;			
		}

		.promo__item{
			width: 100%;
			background-color: RGBA(43, 53, 68, .8);
			position: absolute;
			bottom: 0;
			color: white;
			font-size: 1.3rem;
			text-decoration: none;
			padding: 0% 0 5% 5%;

			h4{
				font-size: 1.5rem;
				padding-bottom: 2%;
			}

			p{
				font-size: .9rem;
			}
		}

		.education{
			background-image: url(../../assets/img/education.png);
			background-size: cover;
			background-repeat: no-repeat;
		    width: 100%;
    		padding-bottom: 50%;
			
		
		}

		.dino{
			background-image: url(../../assets/img/dino.png);
			background-size: cover;
			background-repeat: no-repeat;
			padding-bottom: 52%;
		    width: 100%;
    		padding-bottom: 50%;	
		}
	}
}

.location-map{
	background-color: RGBA(76, 104, 130, 1.00);
	text-align: center;
	color: white;
	position: relative;
    top: -40px;
    padding-bottom: 10%;
	
	.one-of-4-columns{
		padding-top: 5%;

		h3{
			font-size: 1.5rem;
    		padding-bottom: 4%;
    		padding-top: 0;
		}

		address{
			width: 80%;
			margin: 0 auto;
			font-size: 1.1rem;
		    line-height: 1.5;
		    padding-bottom: 5%;
		    font-weight: 700;
		    letter-spacing: 0.07rem;

		    span {
		    	border-bottom: 1px solid white;
		    }
		}

		a{
			display: none;
		}

		.parking-phone-text{
			

			.parking-text , .phone-text{
				font-size: 1.01rem;
				padding-bottom: 5%;
				width: 90%;
				margin: 0 auto;
				line-height: 1.5;
			}

			.phone-text{
				padding-bottom: 0;
			}

		}


	}

	.one-of-3-columns{
		h3{
			font-size: 1.5rem;
		}

		h4{
			font-size: 1.3rem;
			text-decoration: underline;
			padding-bottom: 5%;
		}

		p{
			width: 69%;
		    margin: 0 auto;
		    line-height: 1.5;
		}
	}

}

footer{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 10%;
	text-align: center;
	font-family: serif;

	h4{
		width: 102%;
	    position: relative;
	    top: -22px;

	}


	ul{
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		line-height: 1.4;


		a{
			text-decoration: none;
			color: black;

		}
		.copy-right{
			width: 100%;

		}
	}
}

@media screen and (min-width: 768px){
	
	header{
		.smithsonian-logo__container{
			font-size: 50px;

			img{
				height: 8%;
			}

			.smithsonian-logo__copy{
				font-size: 2.4rem;

				sup{
					font-size: 18px;
				}
			}

			.hamburger{
				width: 17%;
				padding-bottom: 1%;

				h5 {
					font-size: 2.2rem;
				}
			}
		}
	}

	.hero-cta{
		.donation-button{
			top: 26px;
		}

		.hero-cta-content-wrap{
			top: 130px;
		}
	}

	footer{
		padding-bottom: 3%;
	}
}

@media screen and (min-width: 1024px){
	header{
		.mobile-nav{
			display: none;
		}
		.smithsonian-logo__container{
			padding: 0;
			-webkit-box-pack: unset;
			justify-content: unset;
			img{
				height: 10%;
			}

			.hamburger{
				display: none;
			}
			
			nav{
				width: 70%;
				.desktop-nav{
					display: flex;
					padding-bottom: 0;

					li{
						text-decoration: none;
						margin-right: 10%;
						border: none;
						font-family: verdana, serif;
					}
				}
			}	
		}
	}

	.hero-cta{
		background-image: url(../../assets/img/desktop-hero-bg.png);
		padding-bottom: 25%;
		.donation-button{
			left: 85%;
			padding: 0% 4% 2% 2%;
			top: 35%;
		}

		.hero-cta-content-wrap{
			width: 50%;
			h2{
				font-size: 3.5rem;
			}
		}
	}
	.promos-wrap{
		width: 96%;
		margin: 0 auto;
		display: flex;
		margin-bottom: 40px;
		
		.five-of-12-columns{
			background-image: url(../../assets/img/desktop-astronauts.png);
			background-size: cover;
			width: 40%;
			padding-bottom: 36%;
			top: 0;
			margin-right: 40px;

		}

		.seven-of-12-columns{
			width: 60%;
			flex-direction: row;
			flex-wrap: wrap;

			.fossil{
				width: 47%;
				top: 0;
				margin-right: 40px;
				height: 50%;
				background-size: cover;
			}

			.education{
				top: 0;
				width: 47%;
    			height: 50%;
				background-size: cover;
			}

			.dino{
				width: 100%;
				height: 35.1%;
				top: 0;
				padding-bottom: 0;
				margin-top: 40px;

			}
		}
	}

	.location-map{
		top: 0;
		display: flex;
		justify-content: space-between;
		background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=600+Maryland+Ave+SW,+Washington,+DC+20002&zoom=15&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: left;

		.one-of-4-columns{
		// background-color: RGBA(77, 104, 126, .8);
		width: 25%;
		position: relative;
		top: 40px;
		background-color: black;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 1%;
		margin-left: 25px;

		h3{
			font-size: 2.2rem;
			// padding-left: 5%;
		}

		address{
			padding-bottom: 2%;
			// padding-left: 5%;
			font-weight: unset;
			width: unset;

			span{
				border: none;
			}

		}

		a{
			display: block;
			// padding-left: 5%;
			padding-bottom: 10%;
			text-decoration: underline;
		}

		.parking-phone-text{
			width: 80%;

			.parking-text,.phone-text{
				width: unset;
				margin: none;
			}

			.parking-text{
				margin-bottom: 7%;

			}
		}

	}

		.one-of-3-columns{
			// background-color: RGBA(77, 104, 126, .8);
			background-color: black;
			width: 22%;
			height: 33%;
			position: relative;
			top: 80px;
			margin-right: 25px;
			padding-left: 1%;
			line-height: 1.3;

			h3{
				font-size: 2.2rem;
			}

			p{
				width: 89%;
				margin: unset;
			}

		}

	}

	footer{
		display: flex;
		margin: unset;
		padding-bottom: 0;

		h4{
			width: unset;
		}

		.copy-right{
			width: 25%;
			position: unset;
			padding-top: 0;
		}
	}

	.sizerator-header{
		background-image: url(../../assets/img/sizerator-header.png);
		background-size: cover;
		height: 90px;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    padding-bottom: 5%;
	    padding-top: 5%;

		h1{
			color: white;
			font-size: 3rem;
		}


	}

	.sizerator__options{
		#sizeratorOptions{
			display: flex;
			justify-content: space-around;

			li{
				display: flex;
				width: 20%;
				background-color: RGBA(225, 225, 225, 1.00);
				border-right: 2px solid white;
				justify-content: center;
			    flex-direction: column;
			    align-items: center;
			    padding: 1%;

			    h2{
			    	color: RGBA(46, 79, 108, 1.00);
			    	font-family: verdana, serif;
			    }
				
	
				img{
				    max-width: 20%;
				    height: 60px;
				
				}
			}
		}
	}

	#sizeratorModal{
		display: flex;
	    justify-content: center;
	    width: 30%;
	    flex-direction: column;
	    margin: 0 auto;
	    background-color: RGBA(46, 79, 108, 1.00);
	    height: 260px;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);


	    p{
	    	padding: 8%;
	    	line-height: 2;
	    	color: white;
	    	font-family: verdana, serif;

	    	strong{
	    		font-weight: 700;
	    	}
	    }

	    #sizeratorButton{
	    	width: 50%;
	    	margin: 0 auto;
	    	margin-bottom: 30px;
	    }
	}
	
}