$navy: #27506e;


* {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h2, h3, h4 {
	font-style: italic;
	padding-top: 5%;
}
 
p, address, .hours-events-button {
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: inherit;
}

header{
	color: $navy; 

	.smithsonian-logo__container{
		padding: 3%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img{
			height: 50px;
		}

		.hamburger{
			width: 16%;
			background-size: contain;

			.hamburger-image {
				width: 100%;
				padding-top: 10px;
    			margin-left: 5px;
			}

			.hamburger-bars {
				height: 3px;
				margin-bottom: 7px;
				width: 100%;
				background-color: $navy; 
			}

			h5{
				margin-left: 5px;
			}
		}

		.smithsonian-logo__copy{
			display: flex;
			flex-direction: column;
		    font-size: 1.48rem;

		    sup{
			    font-size: 0.7rem;
				font-family: "Merriweather";
				color: rgb(39, 80, 110);
				font-weight: bold;
	    	}

	    	img{
	    		width: 20%;
	    		height: 8%;
	    	}
		}
	}
}

.navbar{
	display: none;
}

.hero-cta{
	width: 100%;
	background-image: url(../../assets/img/mobile-hero-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50%;
	color: white;

	.donation-button{
		position: relative;
		left: 5%;
		top: 11px;
		color: white;
		text-decoration: none;
		background-color: RGBA(243, 183, 68, 1.00);
		width: 20%;
		padding: 4% 6% 4% 6%;
	}
	
	.hero-cta-content-wrap{
		position: relative;
		top: 60px;

		h2, p, a {
			padding-left: 5%;
		}

		h2{
			width: 87%;
			padding-bottom: 5%;
			position: relative;
			left: 5%;
			background-color: RGBA(47, 73, 95, .8);
			font-size: 2.2rem;
			padding-left: 5%;
    		padding-top: 5%
		}

		p, a {
			width: 80%;
			font-size: 1.5rem;
			background-color: RGBA(47, 73, 95, .8);
			position: relative;
			left: 5%;
			text-decoration: none;
			padding-left: 5%;

		}

		p{
			padding-bottom: 4%;
			font-family: Verdana, sans-serif;
			text-transform: uppercase;
			font-weight: 200;
			font-size: 1.5rem;
		}
		
		a{
			color: RGBA(48, 80, 107, 1.00);
			background-color: white;
			padding: 1%;
			padding-left: 5%;
		}
	}
}

.promos-wrap{
	display: block;
	position: relative;

	.five-of-12-columns{
		position: relative;
		top: -40px;
		background-image: url(../../assets/img/astronauts.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 82%;

			.promo__item{
			width: 100%;
			background-color: RGBA(43, 53, 68, .8);
			position: absolute;
			bottom: 0;
			color: white;
			font-size: 1.3rem;
			text-decoration: none;
			padding: 0% 0 5% 5%;

			h4{
				font-size: 1.5rem;
				padding-bottom: 2%;
			}

			p{
				font-size: .9rem;
			}

		}
	}

	.seven-of-12-columns{
		display: flex;
		flex-direction: column;

		.fossile{
			position: relative;
			top: -40px;
			background-image: url(../../assets/img/fossile.png);
			background-size: cover;
			background-repeat: no-repeat;
			padding-bottom: 52%;			
		}

		.promo__item{
			width: 100%;
			background-color: RGBA(43, 53, 68, .8);
			position: absolute;
			bottom: 0;
			color: white;
			font-size: 1.3rem;
			text-decoration: none;
			padding: 0% 0 5% 5%;

			h4{
				font-size: 1.5rem;
				padding-bottom: 2%;
			}

			p{
				font-size: .9rem;
			}
		}

		.education{
			position: relative;
			top: -40px;
			background-image: url(../../assets/img/education.png);
			background-size: cover;
			background-repeat: no-repeat;
			padding-bottom: 52%;			
		
		}

		.dino{
			position: relative;
			top: -40px;
			background-image: url(../../assets/img/dino.png);
			background-size: cover;
			background-repeat: no-repeat;
			padding-bottom: 52%;	
		}
	}
}

.location-map{
	background-color: RGBA(76, 104, 130, 1.00);
	text-align: center;
	color: white;
	position: relative;
    top: -40px;
    padding-bottom: 80%;
	
	.one-of-4-columns{
		padding-top: 5%;

		h3{
			font-size: 1.5rem;
    		padding-bottom: 4%;
		}

		address{
			font-size: 1.1rem;
		    line-height: 1.5;
		    padding-bottom: 5%;
		    font-weight: 700;
		    letter-spacing: 0.07rem;

		    span {
		    	border-bottom: 1px solid white;
		    }
		}

		a{
			display: none;
		}

		.parking-phone-text{
			.parking-text , .phone-text{
				padding-bottom: 5%;
				font-size: 1.1rem;
				width: 60%;
				margin: 0 auto;
				line-height: 1.5;
			}

		}


	}

}

footer{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Merriweather', serif;


	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		line-height: 1.4;


		a{
			text-decoration: none;
			color: black;
			font-size: 1.3rem;
		}
		.copy-right{
			width: 100%;

		}
	}
}

@media screen and (min-width: 768px){
	
	header{
		.smithsonian-logo__container{
			font-size: 50px;

			img{
				height: 80%;
			}

			.smithsonian-logo__copy{
				font-size: 50px;

				sup{
					font-size: 18px;
				}
			}

			.hamburger{
				width: 10%;
				padding-bottom: 6%;
			}
		}
	}

	.hero-cta{
		.donation-button{
			top: 26px;
		}

		.hero-cta-content-wrap{
			top: 130px;
		}
	}
}